{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold mb-4">About</h5>
      <p class="card-text text-justify">Welcome to ChitChat, a live chat website! Our platform allows you to connect with real people in real time, no
        matter where you are in the world. With our easy-to-use chat interface, you can start a conversation with just a
        few clicks. You can also join existing chat rooms or create your own, depending on your interests. Our website is
        available 24/7, so you can chat whenever you want. So, come join us and start chatting today!</p>
      <ul>
        <p>Contacts</p>
        <li>Email: eric.pungho.lee@gmail.com</li>
        <li>GitHub: <a href='https://github.com/ericpungholee'>https://github.com/ericpungholee</a></li>
        <li>LinkedIn: <a href='https://www.linkedin.com/in/eric-lee-932502215/'>https://www.linkedin.com/in/eric-lee-932502215/</a></li>
      </ul>
    </div>
  </div>
{% endblock content %}  